
body {
    background: #F5F5F5;
    /* Inter is the main site font */
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

body a  {
    text-decoration: none;
    color: #284646;
}
/*Bruk class="inria-serif" og .inria-serif CSS for å aktivere fonten med klasse*/
.inria-serif {
    font-family: 'Inria Serif', Georgia, 'Times New Roman', Times, serif;
}

.banner {
    background-color: #DBC6C2;
    color: #383838;
}

.banner li {
    margin: 0;
    display: inline-block;
    gap: 2rem;
    padding: 1.2rem 1rem;
    font-size: 0.8rem;
    flex-wrap: wrap; /* gjør at det ikke krasjer på mobil */
}


.category-links li {
    color: #284646;
    font-size: 1.3em;
    display: inline-block;
    padding: 0.1rem 2rem;
}

img {
    max-width: 100%;
    height: auto;
}


/* Button styles*/
.cta-button {
    background-color: #294F58;
    color: #fff;
}

.cta-button-small {
    padding: 5px 35px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}



footer {
    background-color: #94A4A3;
    color: #051805;
}


/*Home page*/
.slogan-area {
    background-image: url("../images/woman_header.jpg");
    background-size: 100% auto;
    background-position: right bottom;
    min-height: 60vh;
}

.slogan-area h1 {
    font-size: 2.5rem;
    padding-top: 10rem;
    padding-left: 2rem;
    color: #d9e2e2;
}

.slogan-area p {
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #fff;
}




/*Media query*/
/*For mobilversjon må jeg legge inn at Shop by category endrer seg og at bildene skal bli runde i kategori-seksjonen. Dette vises i Task 2.1 fra 9 min 50 sek inn i videoen. Koden er border-radius: 50%;*/