/*Bruk class="inria-serif" og .inria-serif CSS for å aktivere fonten med klasse*/
main {
  display: flex;
}

nav ul {
  list-style: none;
  font-size: 1.2em;
  font-weight: 500;
}

.inria-serif {
  font-family: 'Inria Serif', Georgia, 'Times New Roman', Times, serif;
}

.product-list-area {
  color: #284646;
  min-width: 20%;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-list h3,
.product-list p {
  color: #000;
}

.product-list h2 {
  font-family: 'Inria Serif', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #000;
}

.products {
  grid-column: span 1;
} /*Vet ikke helt hva jeg skal gjøre her*/

.product-list .products a {
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  text-decoration: none;
}

.product-list .products img {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  background: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.product-list .products h2,
.product-list .products h3,
.product-list .products p,
.product-list .products .color-options {
  margin-left: 4px;
  margin-right: 4px;
}

/* Fargeprikker */
.color-options {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

/* Fargeklasser */
.gray {
  background-color: #888;
}

.red {
  background-color: #fb1b1b;
}

.blue {
  background-color: #172b85;
}

.darkblue {
  background-color: #2d3d57;
}

.yellow {
  background-color: #e6fb45;
}

.orange {
  background-color: #f2883c;
}

.black {
  background-color: #000;
}

.olive {
  background-color: #665a3e;
}

.dot-selected {
  width: 25px;
  height: 25px;
}

/* Salg */
.before-price {
  color: grey;
  text-decoration: line-through;
}

.sale-price {
  color: red;
}

@media (max-width: 1173px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 825px) {
  main {
    flex-direction: column;
    padding: 1rem;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-list-area {
    min-width: 100%;
  }
}

@media (max-width: 643px) {
  .product-list-area {
    font-size: 0.8em;
  }

  .product-list {
    grid-template-columns: 1fr;
    padding: 0px;
    font-size: 0.7em;
  }

  .product-list-area {
    min-width: 100%;
  }
}
