
main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  gap: 70px;
}

.product-img {
  width: 100%;
  margin-bottom: 1rem;
}

.dot-selected {
  width: 25px;
  height: 25px;
}