

main {
    max-width: 1000px;
    width: 480px;
    margin: 0 auto;
    padding: 2rem;
}

main h1 {
    color: #508B78;
    font-size: 3rem;
}

main h2, h3 {
    font-size: 1.3rem;
    color: #0A3641;
}

main p {
    font-size: 1rem;
}

.logo {
    padding: 20px;
}